body{
  background-color:rgb(6, 53, 182);
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.mainchild1{
  background-color:rgb(6, 53, 182);
  width:500px;
  height:100px;
  border-radius:0px;
  text-align:center;
  margin-left: 500px;
  font-size: 80px;
}

.mainparent{
  background-color:rgb(6, 53, 182);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius:0;
  text-align: center;
  color:white;
  font-size:25px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.mainchild2{
  background-color: rgb(0, 6, 38);
  display: flex;
  width: 300px;
  height: 500px;
  border-radius: 0px;
  text-align: center;
  margin-top: 50px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.mainchild3{
  background-color: rgb(0, 6, 38);
  display: flex;
  width: 300px;
  height: 500px;
  border-radius: 0px;
  text-align: center;
  margin-top: 50px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.mainchild4{
  background-color: rgb(0, 6, 38);
  display: flex;
  width: 300px;
  height: 500px;
  border-radius: 0px;
  text-align: center;
  margin-top: 50px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.mainchildR1{
  background-color:rgb(255, 255, 255);
  display:flex;
  align-items:flex-start;
  justify-content:left;
  width: 100px;
  height: 100px;
  border-radius:200px;
  text-align:center;
}
